/*=============== order test drive ======================*/

.order {
	margin: 0 auto;
	width: 450px;
	overflow-x: hidden;
}
form.zf {
	line-height: 1.2;
	margin: -1.1em 0 1em;
	position: relative;
}
form.zf * {
	font-family: Arial,sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.zf dl {
	margin: 0 0 15px;
}
.zf dl:after, .zf fieldset.range:after, .zf .zf-buttons:after, .zf fieldset div.zf-repeatbuttons:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.zf dt {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.order-input, .order-select, .order-textarea {
	background-color: #E6E6E6;
	border: 1px none;
	color: #3A3A3A;
	outline-style: none;
	padding: 10px;
	width: 430px;
}
.order-submit {
	float: right;
	height: 40px;
	margin-top: 20px;
	width: 270px
}
.order-select {
	width: 450px;
}

.zf dl:after, .zf fieldset.range:after, .zf .zf-buttons:after, .zf fieldset div.zf-repeatbuttons:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.zf dl {
	margin: 0 0 15px;
}
form.zf * {
	font-family: Arial,sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.zf dl {
	margin: 1.37em 0 0;
	padding: 0;
	position: relative;
	width: 100%;

}
/*=============== order test drive ======================*/

.fancybox-wrap .title, .fancybox-wrap .page-title-litebox {
	color: #919499;
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}
.fancybox-wrap .buttons-place {
	padding-top: 15px;
	vertical-align: middle;
}
.fancybox-wrap .button {
	float: right;
	margin-right: 5px;
}
.fancybox-wrap .button.prev {
	float: left;
	/*margin-left: 5px;*/
}
.fancybox-wrap #testdrive_data {
	display: block;
}

.model-menu-list li {
    display: inline-block;
    padding: 0 2px;
    margin-bottom: 25px;
}


.scrollup {
    width: 43px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../images/up.png') no-repeat;
}

/*=============== order offer commerce ======================*/
#offer-commerce-form fieldset ul li label {
	color: #919499;
	font-weight: normal;
	margin-right: 15px;
	min-width: 150px;
}

#offer-commerce-form fieldset ul li div {
	clear: none;
	width: 430px;
}

#offer-commerce-form fieldset ul li .block-captcha img, #offer-commerce-form fieldset ul  li #passport{
	float:left;
	margin-left: 10px;
	display: inline-block;
}

#offer-commerce-form .form-button button.button-blue {
	background-image: url("../images/button-blue.gif");
	padding: 0 25px;
	border-radius: 5px;
}

/*=============== order offer commerce ======================*/
.header {
	height: auto;
}
.header h1, .header h2, .header h3, .header h4, .header h5 {
	margin: 0;
}

.product-essential table td {
	
}