.top-panel:after, #brandsList:after, .news:after, .titleBlock:after,
.stock:after, .footer_banners:after, .partners-block:after, .container-bottom:after,
.navigationTabUl:after, #contactsTabContent:after, .nextPrevBlock:after, .month_list:after,
.monthSlider:after, .top-pager:after, .category-news .news-news:after,
.product-tabs:after, .more-views ul:after, .checkboxBlock:after, .sorterDiv:after, .sorterDiv ul:after,
.top-pagin:after, .selectRegion ul:after, .account-menu ul:after, .filter-type ul:after, .account-menu:after, .clearfixall:after, .brands-page:after,
.city-name:after, .listTab:after, .brad-link ul:after, .box-type:after, .netCopyLink ul:after, ul.region-logo:after, .locale:after {
    clear: both;
    content: ".";
    display: block !important;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.top-panel {
    margin: 0 auto;
    width: 948px;
    height: 51px;
    text-align: left;
    background: url('../img/top-link-bkg.png') no-repeat -1px 0 transparent;
	position: relative;
}
.link-panel {
    float: left;
	margin-left: 20px;
	margin-right: 100px;	
}
.link-panel li {
    display: inline;
    line-height: 51px;
    margin-left: 6px;
}
.link-panel li a {
    color: #006699;
}
.link-panel li a span {

}
.link-panel li img {
    margin-top: 16px;
    margin-right: 3px;
}
.quick-access {
    float: right;
    text-align: right;
    margin-right: 38px;
    margin-top: 15px;
}
.region-logo {

}
.region-logo li {
    border-right: 1px solid #77A5D0;
    float: left;
    height: 60px;
    margin-left: 7px;
    margin-right: 3px;
    padding-bottom: 0;
    padding-right: 12px;
    padding-top: 2px;
    position: relative;
}
.region-logo li.last {
    border-right: medium none;
    margin-left: 15px;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    width: 190px;
}
.region-logo li.first.region-block {
    border: none;
	margin-top: 5px;
	width: 507px;
}
.region-logo li.last.region-block {
	float:right !important;
}
.second-block-region {
	margin-left: 0 !important;
	padding-top: 0 !important;
    text-align: right;
	width: 180px;
}
.header-container {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin-bottom: 30px;
}
body {
    background: none repeat scroll 0 0 transparent;
}
.header-bkg {
    margin: 0 auto;
    width: 950px;
    background: #fff;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
a {
    color: #336699;
}
a:hover {
    text-decoration:underline;
}
.number {
	text-align: right;
	white-space: nowrap;
}
.nowrap {
	white-space: nowrap;
}
.width {
	width: 100%;
}
.red {
	color: red;
}
.form-search button {
    background: url('../images/search-button.png') no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    padding: 10px;
}
.form-search button span {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 19px;
}
#search {
     border-radius: 4px 0 0 4px;
    height: 18px;
    line-height: 18px;
    margin-right: -3px;
    padding: 0 0 0 2px;
    width: 170px;
    color: #999999;
    font-size: 12px;
}
.city-name h3 {
    color: #4a86c1;
    font-size: 20px;
    font-weight: bold;
    /*height: 26px;*/
    letter-spacing: 2.5px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}
.second-block-region .city-phone {
	float: right;
	text-align: left;
}
.city-phone {
    color: #666666;
    float: left;
    font-size: 11px;
    line-height: 15px;
    margin-left: 13px;
    text-align: left;
}
.call-me {
    bottom: -20px;
    left: 18px;
    position: absolute;
}
.banner-box-top {
    width: 950px;
    min-height: 24px;
}
.cms-home .banner-box-top {
    min-height: 285px;
	 position: relative;
}
#slider li, #slider2 li {
    height: 285px;
    overflow: hidden;
    width: 950px;
}
.nav-container {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    padding: 1px 1px 0;
    width: 950px;
}
#nav {
    padding: 0;
    width: 948px;
	margin-left: 0px;
}
#nav li {
    background: url("../img/menu-bkg.png") repeat-x scroll 0 0 transparent;
    padding-top: 3px;
	text-align: center;
    width: 100%;
}
#nav li.over, #nav li.active, #nav li:hover {
    background: url("../img/menu-bkg-active.png") repeat scroll 0 0 transparent;
    margin-top: 1px;
    padding-top: 2px;
	text-align: center;
    width: 100%;
}
#nav td {

}
#nav td li a {
    border-left: 1px solid #AFC3CF;
    margin-bottom: 2px;
	text-align: center;
    width: 100%;
}
.right-a {
	width: 1px !important;
	border-right: none !important;
}
#nav td:hover .right-a, #nav li.active .right-a {
	border-left: medium none !important;
    border-right: 1px solid #FFFFFF !important;
    float: left;
    height: 8px;
    left: auto !important;
    line-height: 8px;
    right: 0 !important;
    top: 0px !important;
    width: 0 !important;
}
/*#nav td:hover > li > a {*/
	/*margin-bottom: 0px !important;*/
	/*padding-bottom: 12px;*/
/*}*/
/*#nav td:hover > li > ul {*/
	/*left:-40px; */
	/*z-index:998;*/
/*}*/
#nav td:hover > li > ul:hover {
	left: -40px;
	z-index:999;
}
#nav td:hover > li > ul {
	left: -40px;
	z-index:999;
}
#nav td.nav-3:hover > li > ul {
	left:-55px;
	z-index:998;
	width: 174px;
}
#nav td.nav-3:hover > li > ul:hover {
	left: -55px;
	z-index:999;
	width: 174px;
}
#nav td:hover > li > ul li a, #nav td:hover > li > ul li  .right-a {
	text-align: left !important;
	border: none !important;
}
#nav td > li > ul li, #nav td > li > ul li.over, #nav td > li > ul li:hover {
	padding: 0px;
	margin: 0px;
}
#nav td.last > li:hover > ul, #nav td.last > li > ul:hover {
	left: -40px;
}
#nav td:last-child .right-a {
    border-right: none !important;
}
#nav td:first-child li a {
    border-left: none;
}
#nav a {
    color: #0D5EAC;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 24px 10px;
}
.brands-container {
    position: relative;
    z-index: 1;
}
.brand-list {
    width: 930px;
    margin: 0 auto;
    text-align: left;
    padding: 0 10px;
    height: 48px;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
/*    overflow: hidden;*/
}
.brands-page table td {
    text-align: center;
    vertical-align: middle;
    height: 130px;
}
.brands-page table {
    width: 100%;
}
#brandsList li {
   /* float: left; */
    padding: 0 9px;
    line-height: 48px;
    position: relative;
	text-align: center;
	max-width: 50px;
}
#brandsList li img {
    vertical-align: middle;
}
.daijestBox {
    background: url("../images/dayjest.png") no-repeat scroll 0 0 transparent;
    width: 471px;
    height: 80px;
    position: relative;
}
.daijestBox img {
    position: absolute;
    right: 5px;
    top: 5px;
}
.daijestBox p {
    bottom: 6px;
    color: #336699;
    font-size: 24px;
    height: 37px;
    margin: 0;
    position: absolute;
    right: 10px;
}
.daijestBox strong {

}
.loyalnost {
    margin-bottom: 10px;
}
.main-container {
    background: none repeat scroll 0 0 transparent;
}
.main {
    background: none repeat scroll 0 0 transparent;
    padding: 10px 0;
    width:956px;
    min-height: 472px;
	position: relative;
}
.boxBanner1 {
    width: 470px;
    float: left;
    height: 170px;
    height: 169px !ie7;
}
.boxNews {
    width:476px;
	margin-bottom: 20px;
    float: right;
}
.newTitle {
    float: left;
}
.newTitle a {
    font-size: 14px;
    color:#000000;
}
.socialBlock {
    float: right;
    font-size: 9px;
    color:#666666;
    line-height: 30px;
}
.titleBlock {
    line-height: 30px;
    background-color: #ededed;
    padding: 0 10px;
}
.timePrint {
    font-size: 8px;
    color: #666666;
}
.cms-home .news-title-news-one {
    line-height: 15px;
}
.news-title-news-one a {
    color: #2062af;
    font-size: 12px;
    font-weight: bold;
}
.news-description-news {
    color: #666666;
    font-size: 9px;
}
.cms-home .news-news {
    float: left;
    height: 124px;
    overflow: hidden;
    padding: 9px;
    position: relative;
    width: 135px;
}
.overHiden {
    height: 113px;
    overflow: hidden;
}
.cms-home .news {
    height: 170px;
    position: relative;
	width: 474px;
}
.cms-home .clickLook {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #333333;
}
.boxStock {
    float: left;
}
.cms-home .stock {
    float: left;
    margin-top: 8px;
    width: 945px;
}
.stock {
    position: relative;
    width: auto;
    margin-top: 32px;
}
.stock-stock {
    position: relative;
}
.stock-description-stock {
    color: #666666;
    font-size: 14px;
}
.cms-home .stock-stock {
    background: url("../images/one-promo.png") no-repeat scroll -2px -1px transparent;
    width: 480px;
    height: 143px;
    float: left;
    margin-left: -8px;
    overflow: hidden;
}
.cms-home .stock-title-stock-one {
    margin-left: 89px;
    margin-top: 6px;
    width: 370px;
}
.stock-title-stock-one a {
    font-size: 14px;
    font-weight: bold;
}
#getDescription {
    color: #333333;
    font-size: 11px;
     height: 58px;
    line-height: 14px;
    margin-left: 89px;
    margin-top: 3px;
    overflow: hidden;
    width: 370px;
}
.homepage-stockletter {
    float: left;
    margin-left: 24px;
    margin-top: 1px;
    width: 200px;
}
.homepage-stockletter h3 {

}
.homepage-stockletter h3 a {
   font-size: 14px;
   font-weight: normal;
}
.stock-description-stock-hidden {
    display: none;
}
.listStock {
    background: url("../images/list-promo.png") no-repeat scroll 0 0 transparent;
    width: 471px;
    height: 133px;
    float: right;
    margin-top: 10px;
    overflow: hidden;
}
.nameBlockAll {
    font-size: 18px;
    color: #ffffff;
    line-height: 33px;
    padding-left: 23px;
    margin-bottom: 10px;
}
.nameBlockOne {
    font-size: 18px;
    color: #ffffff;
    line-height: 35px;
    padding-left: 91px;
    padding-top: 8px;
}
.allPromo {
    color: #FFFFFF;
    float: right;
    font-size: 11px;
    line-height: 35px;
    margin-right: 14px;
}
.banner-container {
    margin: 0 auto;
    padding-bottom: 36px;
    width: 948px;
	text-align: left;
}
.footer_banners .banner-box:first-child+.banner-box+.banner-box {
    margin-left:10px;
}
.footer_banners p {
    margin: 0;
}
.banner-box:first-child, .banner-box.first {
    margin-left: 0;
}
.banner-box {
    background: url("../images/widget-bkg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 65px;
    margin-left: 8px;
    padding: 10px 20px 25px 60px;
    text-align: left;
    width: 151px;
	position: relative;
}
.banner-box#avto {

}
.banner-box#service {

}
.banner-box#zp {

}
.banner-box#finance {

}
.banner-box#tradein {

}
.banner-box#accesories {

}
.banner-box#news {

}
.banner-box a {
    text-decoration: none;
	position: relative;
	float: left;
}
.banner-box h2 {
    color: #003366;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
.banner-box p {
    color: #666666;
    font-size: 9px;
    height: 32px;
    letter-spacing: 0.1px;
    line-height: 11px;
    overflow: hidden;
}
.partners-container {

}
.partners-block {
    margin: 0 auto;
    width: 950px;
    text-align: left;
}
.partners-title {
    border-bottom: 1px solid #003366;
}
.partners-title h1 {
    color: #0D5EAC;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    margin-left: 8px;
    padding-top: 5px;
}
.partners-list {

}
.partners-list li {
    float: left;
    padding: 10px 43px;
}
.partners-list img {

}
.partners-list a {

}
.partners-list .first {
    padding: 9px 34px;
}
.partners-list .second {
    padding: 15px 49px;
}
.partners-list .third {
    padding: 15px 13px;
}
.partners-list .forth {
    padding: 10px 40px 10px 91px;
}
.footer {
    background: url("../img/footer-bkg.png") repeat-x scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    padding: 13px 30px 14px;
    width: 892px;
    border-top: 1px solid #a3c7e8;
}
.footer-container {
    border-top: medium none;
}
.footer ul {
    float: left;
    padding-right: 20px;
    text-align: left;
	width: 110px;
}
.footer ul li a {
    font-size: 10px;
    opacity:0.5;
}
.footer ul li.first a {
    font-size: 11px;
    font-weight: bold;
    opacity:1;
    background: url("../images/arrow-link.png") no-repeat scroll 0 center transparent;
    padding-left: 8px;
    margin-left: -8px;
}
.footer ul li.first {
    line-height: 19px;
    margin-bottom: -2px;
}
.footer a:hover {
    text-decoration:none;
}
.footer li {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    display: block;
    line-height: 13px;
}
.footer ul.second {
    margin-left: -20px;
}
.footer ul.three {

}
.footer .last-ul {
    border-left: 1px solid #FFFFFF;
    margin: 18px 0;
    padding: 15px 0 15px 10px;
    width: 100px;
}
.footer .last-ul a {
	opacity: 1;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
}
.footer .last-ul li:last-child a {

}
address {
    color: #999999;
    float: left;
    font-size: 12px;
    line-height: 6.4;
}
.ais-logo {
    float: left;
    margin-left: 108px;
    margin-top: 28px;
    position: relative;
}
.airweb-logo {
    float: left;
    margin-left: 105px;
    margin-top: 21px;
}
.container-bottom {
    height: 100px;
    margin: 0 auto;
    width: 950px;
}
.socialBlock a {
    height: 24px;
    position: relative;
    top: 4px;
    width: 24px;
}
.mask {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    display: none;
    z-index: 10000;
    overflow: hidden;
    filter: alpha(opacity = 20);
}
.main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 5px #888888;
    width: 950px;
    margin-bottom: 20px;
    padding: 1px;
}
.cms-home .main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: none;
    box-shadow: none;
    width: 956px;
    margin-bottom: 0px;
    padding: 10px 0;
    min-height: 340px;
}
.col-main {
    padding: 0 40px 79px;
}
.cms-home .col-main {
    padding: 0;
}
.category-title {
    margin: 0 0 10px;
}
.page-title {
    background: url("../images/page-title.png") repeat scroll 0 0 transparent;
    border: 0px solid #fff;
    border-radius: 5px 5px 0 0;
    width: 950px;
    margin-left: -40px;
}
.page-title h1, .page-title h2 {
    color: #333333;
    font-size: 24px;
    line-height: 48px;
    margin: 0 0 0 40px;
}
.ais-service-class {

}
.ais-service-class ul li a {
    color:#333333;
    font-size: 16px;
}
.ais-service-class ul li {
    line-height: 39px;
    /*padding-left: 50px; */
}
.ais-service-class ul li img {
    vertical-align: middle;
    margin-right: 18px;
}
#ais_credit {
    background: url("../images/ais_credit.png") no-repeat scroll 6px center transparent;
}
#ais_cover {
    background: url("../images/ais_cover.png") no-repeat scroll 5px center transparent;
}
#ais_installation {
    background: url("../images/ais_installation.png") no-repeat scroll 0 center transparent;
}
#ais_gbo {
    background: url("../images/ais_gbo.png") no-repeat scroll 0 center transparent;
}
#ais_services {
    background: url("../images/ais_services.png") no-repeat scroll 0 center transparent;
}
#ais_sto {
    background: url("../images/ais_sto.png") no-repeat scroll 0 center transparent;
}
#ais_status {
    background: url("../images/ais_status.png") no-repeat scroll 4px center transparent;
}
.navigationTab {

}
.navigationTabUl {

}
.navigationTabLi {
    float: left;
}
.navigationTabLi.active a, .listTab li.active a {
    color: #0D5EAC;
    font-size: 14px;
    text-decoration: none;
}
.navigationTab li a, .listTab li a {
    color: #333333;
    font-size: 13px;
    line-height: 34px;
}
.content-contacts {
    margin-top: 13px;
    position: relative;
}
.content-tab {
	position: relative;
}
.blockContentAbout {
    float: left;
    width: 50%;
    margin-top: 15px;
}
.contactForm {
    float: right;
    width: 430px;
    margin-top: 16px;
}
.contactForm .form-list li.wide textarea {
    height: 140px;
    width: 344px;
}
.contactForm .form-list input.input-text {
    width: 344px;
    margin-bottom: 5px;
}
 .fieldset {
    padding: 18px 40px;
    margin: 0;
    border: medium none;
    background: url("../images/form-contact.png") repeat scroll 0 0 transparent;
}
.contactForm .form-list .input-box {
    width: 375px;
}
.contactForm .form-list .field {
    width: 375px;
}
.contactForm .form-list li {
    margin: 0 0 6px;
}
.info-line {

}
.page-title-contact {
    padding-left: 40px;
}
.page-title-contact h1 {
    color: #999999;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#contactForm button.button span {
    background: none repeat scroll 0 0 #F4F4DF;
    border: 1px solid #ADB2B5;
    color: #856D85;
    border-radius: 3px 3px 3px 3px;
    padding: 0 11px;
}
#contactForm .buttons-set {
    border-top: medium none;
    margin: 0;
    padding: 0;
}
.inPage {
    line-height: 32px;
    position: absolute;
    right: -30px;
    top: -52px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0;
}
#contactForm .validation-advice {
    height: 0;
    visibility: hidden;
    display: none;
}
.category-promotions .stock-title-stock-one h5 {
    font-size: 8px;
    color: #888888;
    margin-bottom: 9px;
}
.category-promotions .stock-title-stock-one a {
    font-size: 16px;
    line-height: 16px;
}
.category-promotions .stock-description-stock {
    line-height: 16px;
    margin-top: 13px;
}
.category-promotions .stock-stock {
    margin-bottom: 0px;
}
.stock-index-view .stock {
    margin-top: 0;
    position: relative;
    width: auto;
    padding-bottom: 15px;
}
.stock-index-view .stock-stock {
    margin-bottom: 78px;
}
.stock-index-view .socialBlock {
    right: -30px;
    top: 8px;
}
.nextPrevBlock {
    margin-top: 11px;
    padding: 10px 0;
}
.nonStock, a.nonStock:hover {
    color: #cccccc;
    text-decoration: none;
}
.nextPromo {
    font-size: 10px;
}
.prevPromo {
    font-size: 10px;
}
.stock-index-view .stock-title-stock-one h3{
    color: #336699;
    font-size: 24px;
}
.allNews {
    color: #999999;
}
.stock-index-view .stock-description-stock {
    font-size: 15px;
    line-height: 23px;
    margin-top: 9px;
}
.netCopyLink {
    text-align: right;
}
.netCopyLink span {
    font-size: 10px;
    color: #cccccc;
    line-height: 26px;
	margin-right: 10px;
}
.forbottom {
    bottom: -22px;
    position: absolute;
    width: 100%;
}
.allNewsBottom {
    bottom: -50px;
    left: 3px;
    position: absolute;
}
.years_list {
    margin-bottom: 8px;
}
.years_list a {
    font-size: 10px;
    color: #333333;
    margin-right: 9px;
}
.years_list a.currentYear {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.month_list {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    width: 240px;
}
.month_list a {
    font-size: 10px;
    color: #333333;
	margin-right: 10px;
	float: left;
}
.month_list a.currentMonth{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.month_list a.currentMonth div {
    text-decoration: none;
}
.month_list a div {
    float: left;
    text-align: center;
    text-decoration: underline;
}
.cat_list {
    position: relative;
    float: right;
}
.cat_list a {
    color: #333333;
    margin-right: 25px;
}
.top-pager {
    background: url("../images/top-pager-bkg.png") repeat scroll 0 0 transparent;
    border-left : 1px solid #ffffff;
    border-right : 1px solid #ffffff;
    margin-left: -41px;
    margin-top: -9px;
    margin-bottom: 33px;
    padding: 1px 43px 10px;
    width: 864px;
}
.monthSlider {
    width: auto;
    position: absolute;
}
.next-news-arow {
    position: absolute;
    right: -16px;
    top: -1px;
    cursor: pointer;
    padding: 5px;
	display: none !important;
}
.prev-news-arow {
    position: absolute;
    left: -16px;
    top: -1px;
    cursor: pointer;
    padding: 5px;
	display: none !important;
}
.moreWievs, .month_list, .bottomMonth {
	width: 100% !important;
}
.monthSlider {
	left: 0px !important;
}
.category-news .news-image-news {
    float: left;
    height: 130px;
    width: 217px;
}
.category-news .news-news {
    margin-bottom: 20px;
}
.category-news .timePrint h5 {
    color: #999999;
    font-size: 8px;
}
.category-news .news-title-news-one a {
    color: #336699;
    font-size: 16px;
    font-weight: bold;
}
.category-news .news-description-news {
    color: #666666;
    font-size: 14px;
    float: left;
    width: 650px;
    line-height: 16px;
    margin-top: 11px;
	min-height:42px;
}
.category-news .timePrint {
    float: left;
    width: 650px;
    margin-bottom: 3px;
    margin-top: 9px;
}
.category-news .news-title-news-one {
    float: left;
    width: 650px;
}
.bottom-pager {
    background: none repeat scroll 0 0 #98A1AB;
    height: 22px;
    margin: 0 0 0 -41px;
    opacity: 0.7;
    padding-bottom: 0;
    padding-top: 0;
}
.bottom-pager .years_list {
    line-height: 22px;
    margin-bottom: 0;
}
.bottomMonth .month_list a.currentMonth, .newsView .month_list a.currentMonth {
    color: #333333;
}
.bottomMonth .month_list a, .newsView .newsView .month_list a {
    color: #666666;
}
.bottomMonth {
    margin-top: 27px;
    margin-bottom: 7px;
}
.bottom-bkg {
    background: none repeat scroll 0 0 #E9E9E9;
    border-radius: 0 0 7px 7px;
    height: 39px;
    margin-left: -40px;
    width: 950px;
}
.category-news .col-main, .news-index-view .col-main {
    padding: 0 40px 0;
}
.category-news .main {
    min-height: 380px;
}
.news-index-view .socialBlock {
    right: -30px;
    top: 8px;
}
.news-index-view .news {
    margin-top: 0;
    position: relative;
    width: auto;
}
.news-index-view .top-pager {
    height: 24px;
    line-height: 24px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.news-index-view .top-pager .years_list {
    margin-bottom: 0;
}
.newsView {
    margin-top: 6px;
}
.news-index-view .news-title-news-one h5 {
    color: #666666;
    font-size: 10px;
    margin-top: 4px;
}
.news-index-view .news-title-news-one h3 {
    color: #336699;
    font-size: 24px;
    font-weight: bold;
}
.news-index-view .news-description-news {
    color: #666666;
    font-size: 15px;
    line-height: 22px;
    margin-top: 11px;
    margin-bottom: 12px;
}
.bottomNextBlock {
    margin-top: 2px;
}
.news-index-view .bottomMonth {
    margin-top: 9px;
}
.inCategory {
    line-height: 33px;
    margin-right: -5px;
    position:relative; 
	top:-48px;
}
.brandBox {
    position: relative;
    padding: 30px 0;
}
.leftBlockBrand {

}
.leftBlockBrand a {
    position: relative;
}
.leftBlockBrand img {
    position: relative;
}
.rightBlockBrand a {

}
.rightBlockBrand img {
    vertical-align: middle;
}
.rightBlockBrand {
    float: right;
    width: 360px;
}
.descriptionBrand {
    color: #666666;
    font-size: 13px;
    line-height: 16px;
    margin-top: 15px;
}
.brandLink {
    float: right;
    line-height: 11px;
    font-style: italic;
    font-size: 11px;
    margin-top: -6px;
}
#nav li.active a, #nav li.over a, #nav li a:hover {
    color: #336699;
}
@font-face {
    font-family: Arial Narrow Bold; /* ??? ?????? ??? CSS ?????? */
    src: local("Arial Narrow Bold"), /* ????????? ??????? ?????? ? ?? ???????????? */
         url(Arial_Narrow_Bold.ttf); /* ???? ????? ?? ??????????, ????? ????????? ??? ?? ?????????? ???? */
  }
.ais-line-text {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    line-height: 13px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
}
.ais-phone {
    font-size: 23px;
    font-weight: bold;
    color: #0d5eac;
    font-family: Arial;
    line-height: 22px;
}
.airweb-link {
    font-size: 12px;
    color: #999999;
}
.blockContentAboutNew {
   margin-top: 20px;
}

/* filter float */
.selectRegion label, .selectFilter label {
    color: #999999;
    font-size: 10px;
    line-height: 22px;
}
.selectRegion select, .selectFilter select {
    width: 200px;
}
.selectRegion li, .selectFilter li {
    float: left;
    margin: 0 23px 23px 0;
}
.selectRegion li.last, .selectFilter li.last, .selectFilter li:last-child {
    margin-right: 0;
}
#region_id {
    width: 200px
}
#tsp {
    margin-top: 20px;
}
/* !filter float */

.box-type {
    margin-bottom: 20px;
    padding-left: 15px;
}
.box-type h3 {
    color: #666666;
    margin-left: -15px;
}
.otdel_name {
    color: #666666;
    font-size: 14px;
    margin-top: 10px;
}
.info-line-map {
    margin-left: 15px;
    color: #999999;
    line-height: 20px;
}
.info-line-map .label {
    float: left;
    margin-right: 10px;
    min-width: 50px;
}
.info-line-map .value {

}
#YMapsID {
    margin-top: 35px;
}
.CustomPointDot {
    font-family:Arial,Geneva CY,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    position:absolute;
    left:1px;
    top:3px;
    text-align:center;
    line-height:21px;
    width:25px;
    height:18px;
    color:#444444;
}
.CustomPointName{
    font-size: 12px;
    font-weight: bold;
    left: 0;
    position: relative;
    text-align: center;
    top: -40px;
}
#mask table {
    height: 100%;
    width: 100%;
}
#mask table tr {

}
#mask table td {
    text-align: center;
    vertical-align: middle;
}
#mask img {

}
.lt {
    height: 0;
}
.rt {
    height: 0;
}
.rb {
    height: 0;
}
.lb {
     height: 0;
}
.col1-layout .products-grid {
    width: auto;
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
}
.products-grid li.item {
    padding: 11px 7px 15px;
    width: 275px;
}
.products-grid.colum-5 li.item {
    padding: 11px 14px 15px;
    width: 145px;
}
.products-grid.colum-5 .product-image {
    height: 170px;
    width: 145px;
}
.products-grid .product-image {
    height: 170px;
    width: 275px;
}
.products-grid.colum-5 .nameCenter {
    text-align: center;
    width: 100%;
}
.products-grid.colum-5 .price-box {
    margin: 0;
    text-align: center;
    width: 100%;
}
.nameCenter {
    float: left;
    text-align: right;
    width: 47%;
}
.nameCars {
	text-align: center;
}
.products-grid .price-box {
    float: right;
    margin: 0;
    text-align: left;
    width: 47%;
}
.products-grid .product-name a {
    color: #666666;
    font-family: Helios Black;
    font-size: 12px;
    text-decoration: none;
}
.regular-price, .regular-price .price {
    color: #666666;
    font-family: Helios Black;
    font-size: 12px;
    font-weight: normal;
}
.product-view {
    border: medium none;
    margin-bottom: 20px;
}
.product-tabs {
    margin-bottom: 25px;
    margin-top: 17px;
    width: 100%;
}
.product-essential {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
.product-tabs ul li {
    float: left;
    position: relative;
    text-align: left;
}
.product-tabs ul li a:hover, .product-tabs ul li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
}
.product-tabs ul li a, .product-tabs ul li a:hover {
    line-height: 13px;
}
.product-tabs ul li a {
    background: url("../images/menu-bkg.png") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #57748D;
    color: #333333;
    float: left;
    font-size: 12px;
    font-weight: normal;
    padding: 7px 11px;
}
.more-views {
    float: right;
    width: 270px;
}
.product-view .product-img-box .more-views h2 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 11px;
    margin: 0 0 8px;
    text-transform: uppercase;
}
.product-view .product-img-box .more-views li {
    float: left;
    margin: 0 0 8px 9px;
}
.product-view .product-img-box .more-views li a {
    height: 125px;
    width: 125px;
}
.product-view .product-img-box {
    width: 100%;
}
.storeVarLI {
    width: 309px;
}
.category-news .box-newses {
    min-height: 200px;
}
#mailer-form {
    position: relative;
    top: 33px;
}
#mailer-form .form-list li {
    margin: 0 0 10px;
}
#mailer-form .form-list label {
    color: #333333;
    font-size: 10px;
    font-weight: normal;
    line-height: 19px;
    width: 55px;
}
#mailer-form .form-list .input-box {
    clear: none;
    float: left;
    width: 292px;
}
#mailer-form .form-list .input-text {
    height: 17px;
    width: 292px;
}
#mailer-form .checkboxBlock {
    margin-left: 55px;
}
#mailer-form .checkboxBlock .input-text {
    float: left;
    width: auto;
}
#mailer-form .checkboxBlock label {
    color: #666666;
    float: left;
    margin: 0 15px 0 5px;
    width: auto;
}
#mailer-form .form-button {
    height: 20px;
    margin-bottom: 10px;
    margin-top: 1px;
    width: 348px;
}
#mailer-form .form-button button.button-blue {
    background: url("../images/button-blue.gif") repeat-x scroll 0 center transparent;
    border-radius: 4px 4px 4px 4px;
    float: right;
}
#mailer-form .form-button span {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 10px;
    height: 20px;
    line-height: 18px;
    padding: 0 25px;
}

#callme-form .form-button button.button-blue {
    background-image: url("../images/button-blue.gif") !important;
}
.catalogsearch-result-index .page-head {
    margin-bottom: 9px;
    margin-top: 23px;
}
.catalogsearch-result-index .page-head h3 {
    color: #666666;
    font-size: 20px;
    font-weight: normal;
}
.catalogsearch-result-index .page-head h3 span {
    color: #336699;
}
.sorterDiv {
    line-height: 50px;
}
.sorterDiv span {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
}
.sorterDiv li {
    color: #666666;
    float: left;
    font-weight: bold;
    margin: 0 7px;
}
.sorterDiv a {
    color: #666666;
}
.catalogsearch-result-index .deliver {
    margin: 0 5px !important;
}
.catalogsearch-result-index .deliver span {
    margin: 0 !important;
}
.top-pagin {
    float: none;
    margin-top: 0px;
    position: relative;
}
.pager {
    background: none repeat scroll 0 0 transparent;
    border-top: medium none;
    float: right;
    font-size: 11px;
    margin-right: -15px;
    padding: 4px 8px;
    text-align: center;
    width: 135px;
}
.pager .pages {
    margin: 0;
}
.pager .pages a {
    float: left;
    height: 28px;
    text-decoration: none;
    width: 19px;
}
.copy-fild {
    border: 1px solid #666666;
    float: left;
    font-size: 14px;
    line-height: 19px;
    margin: 3px 2px 0;
    padding: 0 10px;
}
.next-search.pasive {
    background: url("../images/next-search-pasive.png") no-repeat scroll center -1px transparent;
}
.next-search {
    background: url("../images/next-search-active.png") no-repeat scroll center center transparent;
}
.prev-search.pasive {
    background: url("../images/prev-search-pasive.png") no-repeat scroll center center transparent;
}
.prev-search {
    background: url("../images/prev-search-active.png") no-repeat scroll center -1px transparent;
}
.bottom-sorter {
    margin: 40px 0 20px;
}
.storeVarLI h5 {
    margin-right: 20px;
    margin-top: 8px;
    color: #0D5EAC;
}
/* Внешний вид балуна (начало)*/
.b-simple-balloon-layout {
    position: relative;
    width: 150px;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #848877;
    background: #f8ffe0;
}
/* Внешний вид балуна (конец)*/
/* "Хвостик" балуна (начало)*/
.b-simple-balloon-layout .tail {
    position: absolute;
    width: 30px;
    height: 24px;
    margin-top: 10px;
    background: url("http://api.yandex.ru/i/maps/tail.png") no-repeat;
}
/* "Хвостик" балуна (конец)*/
/* Кнопка закрытия балуна (начало)*/
.b-simple-balloon-layout .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    margin-top: 5px;
    background: url("http://api-maps.yandex.ru/i/0.3/balloon/close.gif") no-repeat;
    cursor: pointer;
}
/* "Кнопка закрытия балуна (конец)*/
.accordeon-header {
    background: url("../images/tab-normal.gif") repeat scroll 0 0 transparent;
    cursor: pointer;
    margin: 1px 0 0;
    position: relative;
}
.accordeon-header a {
    color: #999999;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    padding: 6px 5px 6px 30px;
    text-decoration: none;
    text-transform: none;
}
.accordeon-content {
    background: url("../images/bg-accordian-open-content.gif") repeat-x scroll left top transparent;
    border-top: 0 none;
    overflow: hidden;
    position: relative;
    top: 1px;
    width: 100%;
}
.appendBlock {
    overflow: hidden;
    padding: 20px;
    width: auto;
}
.accordeon-header:hover {
    background: url("../images/tab-hover.gif") repeat scroll 0 0 transparent !important;
    border-bottom: 0 none !important;
}
.accordeon-header.active {
    background: url("../images/tab-active.gif") repeat scroll 0 0 transparent !important;
    border-bottom: 0 none !important;
}
.accordeon {
    /*background: url("../images/bg-accordian-footer.jpg") repeat-x scroll left bottom transparent;*/
    border-top: 1px solid #BCBCBC;
    clear: both;
    overflow: hidden;
    padding-bottom: 32px;
    padding-top: 1px;
    width: 100%;
}
.accordeon-header.active a, .accordeon-header:hover a {
    color: #ffffff;
}
/*переделаная навигация*/
#nav a span {
   /* padding: 0px 10pt 0px; */
}
#nav table {
	width: 100%;
}
#nav a {
    padding: 8px 0 10px;
}
#nav li.last a span {
    /*padding-left: 14px;*/
}
#nav li.last a {
    padding-left: 0px;
}
#nav > li.first a span {
    padding-left: 18px;
}
#nav li.first a {
    padding-left: 0px;
}
/*переделаная навигация*/
#video-content .more-views {

}
.gallery.clearfix {

}
.gallery.clearfix li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.account-menu {

}
.account-menu ul {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #e0e0e0;
    float: left;
}
.account-menu li {
    float: left;
    background: url("../images/account_menu.png") repeat-x scroll 0 0;
    border-left: 1px solid #cccccc;
    height: 26px;
    line-height: 26px;
}
.account-menu li:first-child {
    border: none;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.account-menu li.last {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.account-menu li.active {
    background: url("../images/account_menu_active.png") repeat-x scroll 0 0;
}
.account-menu li a {
    text-decoration: none;
}
.account-menu li a span {
    color: #767676;
    font-size: 12px;
    padding: 5px 13px;
}
.account-menu li.active a span {
    color: #ffffff;
}
.filter-type {

}
.filter-type ul {

}
.filter-type li {
    float: left;
    padding: 10px;
}
.filter-type li a {

}
.filter-type li a span {
    color: #333333;
}
.filter-type li.active a span {
    color: #336699;
}
.filter-type li.active a {
    text-decoration: none;
}
.my-account table {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #cccccc;
    width: 100%;
}
.my-account table thead tr td {
    border-bottom: 1px solid #cccccc;
}
.my-account table thead tr, .my-account table tr.color {
    background: url("../images/table-bg.png") repeat-x scroll 0 bottom;
}
.my-account table td {
    padding: 5px 20px;
    vertical-align: middle;
}
.my-account table thead td {
    color: #333333;
    font-size: 10px;
    text-align: center;
}
.my-account table tbody {

}
.my-account table tbody tr td {
    border-top: 1px solid #cccccc;
}
.my-account table tbody tr:first-child td {
    border-top: none;
}
.my-account table tbody td {
    color: #6a6a6a;
    font-size: 12px;
    text-align: center;
}
.my-account table tbody tr td:first-child {
    text-align: left;
}
.my-account .fieldset {
    border: 1px solid #336699;
}
.messages {
    margin: 25px auto 0 !important;
    overflow: hidden;
    text-align: left;
    width: 950px;
}
.widget-litebox .form-button button.button-blue {
    background-image: url("../images/button-blue.gif") !important;
}
.table-services table {
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}
.table-services td {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    text-align: center;
    padding: 5px;
	vertical-align: middle;
}
.sort-order {
    margin-left: 50px;
}
.table-services {
    margin-top: 10px;
}
.col1-layout .special-brand .product-img-box, .special-brand .more-views {
    width: 380px;
}
.col1-layout .special-brand .product-shop {
    width: 480px;
}
.description {
    margin-top: 0px;
	/* margin-top: 20px; */
}
.special-brand table td {
    padding: 0 5px;
}
.special-brand table tr:first-child td {
   background: url("../images/table-head.png") repeat-x scroll 0 0 transparent;
   text-align: center;
}
.special-brand table tr:first-child td, .special-brand table tr:first-child td div {
	text-align: center !important;
}
.region-block {
    border: medium none;
    width: 555px;
    overflow: hidden;
}
.header {
    height: 75px;
}
.city-name {
	 left: 15px;
    position: relative;
	z-index: -1;
}
.city-name h3:first-child {
	font-weight: normal;
}
.product-view .product-shop .short-description {
    background: none;
	padding: 0px;
}
.product-view .description {
/*	margin: 0px; */
}
.listTab li {
	float: left;
	margin-right: 0;
	padding: 0 10px;
	white-space: nowrap;
	word-wrap: normal;
}
.listTab li.active {
	background: none repeat scroll 0 0 #dde0e1;
}
.superTab .listTab {
	background: none repeat scroll 0 0 #dde0e1;
    margin: 0 21px;
    padding: 0 5px;
}
.superTab .listTab a {
}

#nav ul, #nav div {
    border: medium none;
    top: 36px;
    width: 143px;
    -webkit-box-shadow: 0px 6px 8px 0px #666666;
    box-shadow: 0px 6px 8px 0px #666666;
    background: url("../images/menu-bkg-active.png") repeat scroll 0 0 #ffffff;
    padding: 12px 0;
	z-index: 999;
}
#nav .nav-9 ul {
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
}
#nav ul li, #nav ul li.active {
    background: none repeat scroll 0 0 transparent;
    padding-bottom: 3px;
}
#nav ul li a, #nav ul li a:hover, #nav ul li:hover, #nav ul li.over, #nav ul li.active, #nav ul li.last {
    background: none repeat scroll 0 0 transparent;
	padding: 0;
}
#nav ul li a {
    border: none;
}
#nav li.nav-9 ul.shown-sub {
    left: 1px;
}
#nav li.nav-10 ul.shown-sub {
    left: -32px;
}
#nav ul li a {
    color: #666666 !important;
    font-size: 11px;
}
#nav ul li a:hover {
	color: #336699 !important;
	font-size: 11px;
}
.brand-filials {
    position: absolute;
    display: none;
    line-height: 30px;
    padding: 10px;
    left: 0px;
    top: 48px;
    -webkit-border-radius: 7px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 7px;
    -moz-border-radius-topleft: 0;
    border-radius: 7px;
    border-top-left-radius: 0;
}
.brand-filials table {

}
.brand-filials table td {
    height: 30px;
}
.brand-filials table td a {
    color: #666666;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
.img-filial-brand {
    text-align: center;
    width: 40px;
}
.address-filial {
    text-align: left;
    width: 90px;
}
li.brand-item:hover {
    background: url("../images/menu-bkg-active.png") repeat scroll 0 0 #ffffff;
}
li.brand-item:hover > .brand-filials, .brand-filials:hover {
    background: url("../images/menu-bkg-active.png") repeat scroll 0 0 #ffffff;
    display: block;
/*    -webkit-box-shadow: 0px 6px 8px 0px #666666;
    box-shadow: 0px 6px 8px 0px #666666;*/
}
.brandBox:hover > .brand-filials, .brand-filials:hover {
    display: block;
	z-index: 1001;
}
.brandBox:hover {
	z-index: 1001;
}
.brandBox a {
	cursor: pointer;
}
.brands-page .brandBox:hover , .brands-page .brandBox:hover > .brand-filials , .brands-page .brandBox:hover > .brand-filials {
    background: url("../images/menu-bkg-active.png") repeat scroll 0 0 #ffffff;
}
.brands-page .brandBox:hover {
    -webkit-border-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.brandBox > .brand-filials {
    top: 100px;
    right: 0;
    padding: 10px 0;
    z-index: 1;
}
#box_7 > .brand-filials {
    right: auto;
}
.brandBox > .brand-filials .img-filial-brand {
    width: 39px;
    text-align: right;
    padding-top: 10px;
}
.brandBox > .brand-filials .address-filial {
    width: 75px;
    padding-left: 10px;
}
.brandBox .brand-filials table {
    width: 145px;
}
.brandBox .brand-filials table td {
    line-height: 18px;
}
.brad-link {
    padding: 17px 0 10px;
}
.brad-link ul {

}
.brad-link li {
    float: left;
    margin-right: 10px;
}
.brad-link a {
    font-size: 12px;
    color: #333333;
}
.product-view .product-shop .product-name h1 {
    color: #336799;
    font: 22px/1.35 Arial,Helvetica,sans-serif;
}
.product-essential h2 {
    color: #333333;
    font: 18px/1.35 Arial,Helvetica,sans-serif;
}
.one-block-filial {
    float: left;
    width: 50%;
}
.description table, .product-essential table {
	border: 1px solid #999999;
	border-top: none;
	/*margin-top: 10px;*/
}
.description table td, .product-essential table td {
	border: none;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	height: 20px;
	vertical-align: middle;
	padding: 3px 10px;
	/*padding-left: 20px !important;*/
	/*padding-right: 30px !important;*/
	/*text-align: left;*/
}
.description table td div, .product-essential table td div {
	text-align: left;
}
.description table td div font, .product-essential table td div font  {
	color: #666666;
    font-size: 12px;
}
.description table thead tr:first-child  td, .product-essential table thead tr:first-child  td {
	border-top: none;
	/*padding: 0 !important;*/
}
.description table thead tr:first-child  td, .product-essential table thead tr:first-child  td {
	/*border-bottom: 1px solid #999999;*/
}
.product-essential table tr:first-child  td:nth-child(2n+2) {
	border-left: 1px solid #999999;
}
.product-essential table tr:first-child  td {
	padding: 3px 10px;
}
.product-essential table tr td {
	/*padding: 5px 14px !important;*/
}
.description table tr td:first-child, .product-essential table tr td:first-child {
	border-left: none;
}
.firstBack {
	background: #efeff0;
}
.secondBack {
	background: #e6e7e8;
}
.thirdBack {
	background: #f1f2f3;
}
.forthBack {
	background: #f6f7f7;
}

.description table tr:nth-child(2n+1), .product-essential table tr:nth-child(2n+1) {
	background: #efeff0;
    /*background: #fff;*/
}
.description table tr:nth-child(2n+2), .product-essential table tr:nth-child(2n+2) {
    background: #e6e7e8;
    /*background: #fff;*/
}
.description table tr:nth-child(2n+1) td:nth-child(2n+2), .product-essential table tr:nth-child(2n+1) td:nth-child(2n+2) {
	/*background: #f1f2f3;*/
    /*background: #fff;*/
}
.description table tr:nth-child(2n+2) td:nth-child(2n+1), .product-essential table tr:nth-child(2n+2) td:nth-child(2n+1){
	/*background: #f6f7f7;*/
    /*background: #fff;*/
}
.product-essential.brand-3 table tr:nth-child(2n+2) td:nth-child(2n+1), .product-essential.brand-3 table tr:nth-child(2n+1) td:nth-child(2n+2),
.product-essential.brand-16 table tr:nth-child(2n+2) td:nth-child(2n+1), .product-essential.brand-16 table tr:nth-child(2n+1) td:nth-child(2n+2) {
	background: none;
    /*background: #fff;*/
}


.legend .legend-item div {
	display: inline-block;
	margin: 2px 4px 0 0;
	vertical-align: middle;
}
.legend .recommended, .legend .required {
	border: 1px solid #999999;
	height: 20px;
	width: 20px;
}
.legend .recommended {
	background-color: #F6F7F7;
}
.legend .required {
	background-color: #EFEFF0;
}

.description table tr:first-child  td, .description table tr:first-child td strong, .description table tr:first-child td strong font,
.product-essential table tr:first-child  td, .product-essential table tr:first-child td strong, .product-essential table tr:first-child td strong font {
	font-size: 12px;
	color: #333333;
	font-family: Arial;
	font-weight: normal;
	/*text-transform: uppercase;*/
}
.partners-list td {
	vertical-align: middle;
	height: 100px;
	padding: 10px 80px;
}
.partners-list img.act, .partners-list td:hover img.norm {
	display: none;
	vertical-align: middle;
}
.partners-list td:hover img.act {
	display: inline;
	vertical-align: middle;
}
.partners-list img {
	vertical-align: middle;
}
/*#my-form table tr td:first-child {
	width: 240px;
}*/
#my-form table tbody tr:first-child > td {
	width: 240px;
	padding: 2px 0 0;
}
.category-enterprise .inPage {
    top: -746px;
	display: none;
}
.box-close {
	position: absolute;
    right: 14px;
    top: 15px;
}
.banner-box-top #prevBtn, .banner-box-top #nextBtn {
	width: 50px;
	height: 50px;
	top: 120px;
	text-indent: 0;
	font-size: 0px;
	display:none;
}
.banner-box-top #prevBtn {
	background: url("../images/icon/prev-50-50.png") no-repeat scroll 0 0 transparent;
	left: 0px;
}
.banner-box-top #nextBtn {
	background: url("../images/icon/next-50-50.png") no-repeat scroll 0 0 transparent;
	left: 900px;
}
.news-index-view .one-news, .stock-index-view .one-stock {
	width: 73%;
	float: left;
	overflow: hidden;
}
.right-block-news {
	width: 25%;
	float: right;
	margin-top: 30px;
}
.right-block-news .news_entry {
	width: 100%;
	margin-bottom: 20px;
}
.right-block-news .news-image-news {
	float: left;
	margin-top: 7px;
}
.right-block-news .news-title-news-one {
	float: right;
    width: 58%;
}
.right-block-news .news-title-news-one a {
	text-decoration: none;
	font-size: 11px;
    text-align: left;
}
.right-block-news .overHiden {
	height: auto;
	margin-bottom: 20px;
}
.netCopyLink li {
	float:left;
	margin-right: 5px;
}
.netCopyLink ul {
	float: right;
}
.all-block-desc {
    width: 300px;
	float: left;
}
.top-block-desc {
    background-color: red;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
.bottom-block-desc {
    background: blue;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.9;
    padding: 20px;
}
.YMaps-b-balloon_close-on .YMaps-b-balloon-content {
	overflow: visible !important;
}
/* Внешний вид балуна (начало)*/
.b-simple-balloon-layout {
position: relative;
width: 300px;
padding: 10px;
margin-left: -10px;
border: none;
background: none;
}
/* Внешний вид балуна (конец)*/


/* Кнопка закрытия балуна (начало)*/
.b-simple-balloon-layout .close {
position: absolute;
right: 10px;
top: 10px;
width: 13px;
height: 13px;
margin-right: 5px;
margin-top: 5px;
background: url("http://api-maps.yandex.ru/i/0.3/balloon/close.gif") no-repeat;
cursor: pointer;
}
/* "Кнопка закрытия балуна (конец)*/
.highslide-gallery ul li {
    height: 65px !important;
    margin: 5px !important;
    width: 65px !important;
}

/* отступы в статьях от катринок */
.news-news img {
    margin: 0 5px;
}
table.MsoNormalTable, #price-content table {
	width: 100% !important;
	height: auto !important;
}
table.MsoNormalTable p {
	margin: 0;
}
.sy-table {
	border: none !important;
}
.main table.sy-table td, .main .description table.sy-table .description tr:nth-child(2n+2) td:nth-child(2n+2), .main .description table.sy-table tr:nth-child(2n+1) td:nth-child(2n+2),
.main .description table.sy-table tr:nth-child(2n+2) td:nth-child(2n+1), .main .description table.sy-table tr:nth-child(2n+1) td:nth-child(2n+1) {
	background-color: #ffffff !important;
	border: none !important;
}
.main #color-content table, .main #color-content table td, .main #color-content table .description tr:nth-child(2n+2) td:nth-child(2n+2), .main #color-content table tr:nth-child(2n+1) td:nth-child(2n+2),
.main #color-content table tr:nth-child(2n+2) td:nth-child(2n+1), .main #color-content table tr:nth-child(2n+1) td:nth-child(2n+1) {
	background-color: #ffffff !important;
	border: none !important;
	padding: 10px !important;
	text-align: center;
}
.main #color-content table p, .main #color-content table strong, .main #color-content table td {
	font-weight: bold !important;
    text-transform: none !important;
	text-align: center !important;
}
table tr.b001C58 td, table tr.b001c58 td {
	background-color: #001C58 !important;
}
.description table td p, .product-essential table td p {
	text-align: center;
}
.description table td:first-child p, .product-essential table td:first-child p {
	text-align: left;
}
#backTable tr td {
    background: #fff!important;
}
.city-phone table td {
	vertical-align: middle;
	height: 60px;
}
.city-phone table td p:last-child {
	margin-bottom: 0;
}
.city-phone table td p:first-child {
	margin-bottom: 5px;
}
.loadChecknumber {
	background: url("../images/loadNomer.jpg") no-repeat 0 0 transparent;
    height: 257px;
    opacity: 0.9;
    text-align: center;
    width: 400px;
	filter: alpha(opacity = 90);
}
.containerNumber {
	position: absolute;
	text-align: center;
	margin-left: 240px;
    margin-top: -160px;
	z-index: 100001;
	display: none;
}
.containerNumber span {
	color: #333333;
    font-size: 14px;
	top: -134px;
	position: relative;
	font-weight: bold;
}
.products-grid.citroen li.item {
	width: 200px;
}
.products-grid.citroen .product-image {
    height: 120px;
    width: 200px;
}
div.jGrowl.center {
	top: 176px;
}
.main-callme em {
	float: none !important;
	right: auto !important;
	top: auto !important;
}
.icon-infoblock {
	left: -48px;
    position: absolute;
}
@-moz-document .icon-infoblock {
	top: 12px;
}
.tableMy {
    border-top:1px solid black;
    border-right:1px solid black;
    background-color: #fff;
}

.tableMy td {
    background-color: #fff;
    border-left:1px solid black;
    border-bottom:1px solid black;
}
#complaints .osolCaptchaBlock {
	margin-top: 5px;
	width: 278px !important;
}
#complaints .osolCaptchaBlock label {
	margin-right: 14px;
	font-size: 10px;
}
.cms-enterprise #tsp {
	width: 60%;
	float:left;
	margin-top: 0px;
}
.cms-enterprise .selectRegion {
	display: none;
}
.cms-enterprise .one-block-filial {
    float: left;
    padding-right: 2%;
    width: 48%;
}
.url_filial .label {
	width: 105px;
}
.store-2 #brand-14:hover, .store-2 #brand-12:hover, .store-31 #brand-12:hover, .store-31 #brand-14:hover, .store-8 #brand-14:hover , .store-11 #brand-14:hover ,
.store-2 #box_4, .store-2 #box_1, .store-31 #box_4, .store-31 #box_1, .store-2 #box_4, .store-2 #box_1, .store-8 #box_4, .store-11 #box_4  {
	background: none;
}
.store-2 #brand-14:hover .brand-filials, .store-2 #brand-12:hover .brand-filials, .store-31 #brand-14:hover .brand-filials, .store-31 #brand-12:hover .brand-filials, .store-8 #brand-14:hover .brand-filials, .store-11 #brand-14:hover .brand-filials,
.store-2 #box_4:hover .brand-filials, .store-2 #box_1:hover .brand-filials, .store-31 #box_4:hover .brand-filials, .store-31 #box_1:hover .brand-filials,
.store-8 #box_4:hover .brand-filials, .store-11 #box_4:hover .brand-filials  {
	display: none !important;
}
#brandsList > table > tbody > tr > td {
	text-align: center;
}
.town_vacancy {
	margin-top: 30px;
}
.town_vacancy .town-name {

}
.timePrint h5 {
    color: #666666;
    font-size: 10px;
}
.result-title  a {
  color: #336699;
  font-size: 16px;
  font-weight: bold;
}
.result-cat a {
	color: #333333;
	font-size: 14px;
}
.result-description {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  margin-top: 11px;
  width: 100%;
}
.search-data-box {
	width: 100%;
	margin-bottom: 40px;
}
.TableAlignCenter {
	width: 100%;
}
.TableAlignCenter td {
	text-align: center;
	padding: 5px;
}
#disclaimer-content .closed, #disclaimer-content-2 .closed, #disclaimer-content-3 .closed {
	cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}
#nav ul li.parent a {
	background: none;
}
.main #price-content table td, #price-content table td span {
    font-size: 12px !important;
}
/*.info-line-map.brand-telephone .label {
	width: auto;
	margin-right: 10px;
}*/
/*.avtocentr .default-phone {
	display: none;
}*/
/*******plagin poshlina start*******/
#main {
    background-color: #D52027;
    height: 170px;
    width: 470px;
}
#days {
    display: block;
    height: 65px;
    margin-bottom: 0;
}
#caption {
    color: white;
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 3px;
    text-align: center;
}
#number .num {
    background-color: royalblue;
    border: 4px solid white;
    border-radius: 15px 15px 15px 15px;
    color: white;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 51pt;
    font-weight: 500;
    height: 55px;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 70px;
	margin-right: 6px;
}
#number .num span {
    bottom: 0;
    left: 0;
    margin-top: -24px;
    position: absolute;
    right: 0;
    top: 0;
}

#number {
    padding-left: 150px;
    text-align: right;
    /*width: 67%;*/
}
#text {
    color: white;
    display: inline;
    float: left;
    font-family: arial;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 38px;
    text-transform: uppercase;
    vertical-align: bottom;
}
#poster {
    clear: both;
    line-height: 14px;
    padding: 2px 6px;
}
#poster #title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
}
#poster .smallText {
    color: white;
    font-size: 9pt;
    letter-spacing: -1px;
}
#poster .price {
    color: white;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: -1px;
}
#agitation {
    color: white;
    font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}
.aiscorp {
	display: block !important;
}

/*******plagin poshlina end*******/
.locale {
	position: absolute;
	right: 250px;
	top: 17px;
}
.locale li {
    float: left;
    margin-left: 10px;
}
.locale img {

}

.ui-datepicker-trigger {
	margin-left: 5px;
	vertical-align: middle;
}


/* anketa tradeinForm */
#tradeinForm table td {
	padding: 7px 0;
}
#tradeinForm .required{
	color: red;
	margin-left: 2px;
}
#tradeinForm .label{
	width: 310px;
}
#tradeinForm #mileage input{
	width: 100px;
}
#tradeinForm #comment span{
	font-size: 8pt;
	font-weight: 100;
}
#tradeinForm #mileage span{
	margin-left: 7px;
	font-size: 10pt;
	font-weight: 500;
	vertical-align: middle;
}
#tradeinForm #price_auto input{
	width: 180px;
}
#tradeinForm #price_auto select{
	width: 70px;
}
#tradeinForm_checkbox .label{
	width: 577px;
}
#tradeinForm_checkbox .label input{
	float: left;
	margin-right: 10px;
}
#label_required {
	padding-bottom: 20px;
}
#tradeinForm #label_contacts {
	font-size: 13pt;
	font-weight: 500;
	padding-bottom: 20px;
	padding-top: 20px;
}
#tradeinForm .value input[type=text] {
	width: 254px;
	padding: 2px;
}
#tradeinForm select {
	width: 260px;
}
#tradeinForm textarea {
	height: 10em !important;
	width: 254px !important;
	overflow: auto;
	padding: 2px;
}

#disclaimer {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	display: none;
	left: 0;
	margin-top: -435px;
	padding: 20px;
	position: absolute;
	text-align: justify;
	z-index: 1000;
	font-size: 10px;
}

#input_captcha input {
	width: 100px;
	padding: 2px;
}
#img_captcha {
	float: left;
}
#input_captcha {
	float: left;
}

td.button-place {
	vertical-align: middle;
}
/* end anketa tradeinForm */

#app_store{
    position: absolute;
    top:-4px;
    margin-left: 135px;

}

#googleplay{
    position: absolute;
    top:4px;
    margin-left: 15px;

}


#ceni-na-uslugiContent {
	margin-top:15px
}

#ceni-na-uslugiContent table td{
	padding:5px;
	border: 1px solid #E3E3E3;
}


/* list button */
.menu-order-online ul li a {
    background: none repeat scroll 0 0 #1b6bad;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    width: 158px;
}
.products-grid .menu-order-online {
	text-align: center;
}
/* !list button */

.red_strip {
    overflow: auto;
    margin: auto;
    left: 0; right: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    height:50px;
    width: 950px;
    background-color: #D7202D;
    border-radius: 5px;
}

.red_strip p {
    padding-top: 10px;
}
.red_strip p span a{
    color:white;
}

.price_paz_cart{
    display: block;
    float: right;
    width: 280px;
    margin-top: 47px;
    padding: 15px 0;
    background-color: #336699;
    color: #ffffff;
    text-align: center;
    font-size: 20px; 
}
.product-essential table tr:nth-child(2n+2) {
    border: 1px solid grey;
}
#tradeinForm table td {
    padding: 4px;
    font-size: 13px;
    color: #000;
}
#tradeinForm label {
    font-weight: normal;
}

.nav>li>a {
    padding: 14px 13px !important;
}